body {
	background: url(../img/bg01.jpg);
}

#main {
	background-color: #fff;
	width: 300px;
	height: 400px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 10px;
	opacity: 0.85;
}
#main img {
	display: block;
	width: 300px;
	height: 60px;
	padding: 20px 0 20px 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: lightskyblue;
}
#main img:hover {
	background-color: gold;
}
#main input#username,#main input#password,#main input#confirmpass,#main input#email,#main input#code {
	width: 280px;
	font-size: 16px;
	margin: 2px 10px 2px 10px;
	padding: 10px 0 5px 0;
	border-bottom: 1px solid #999;
}
#main input#username {
    color: red;
    border-bottom: 0;
}
#main #error {
    color: red;
    font-weight: bold;
	text-align: center;
}
#main input#send {
	color: #fff;
	background-color: #FD7E14;
	border-radius: 15px;
	font-size: 16px;
	margin: 5px 30px 5px 30px;
	padding: 5px 20px 5px 20px;
	width: 240px;
}
#main input#find {
	color: #fff;
	background-color: #2AABD2;
	border-radius: 15px;
	font-size: 16px;
	margin: 5px 30px 5px 30px;
	padding: 5px 20px 5px 20px;
	width: 240px;
}

