a {
    color: dodgerblue;
    text-decoration: underline;
}
#follow {
	float: left;
	display: block;
	width: 50%;
	border-right: 1px solid #fff;
}
#collect {
	float: left;
	display: block;
	width: 49%;
}
ul {
	padding-left: 5px;
}
li {
	margin-top: 10px;
	padding-left: 2px;
	border-left: 2px solid #008B8B;
	border-bottom: 1px dashed #fff;
}
#showmorefollowfiles, #showmorefollowblogs, #showmorecollects {
	width: 98%;
	text-align: center;
	padding: 5px;
	color: dodgerblue;
	text-decoration: underline;
    margin-left: 5px;
    background: none;
}
#showmorefollowfiles {
	border-bottom: 1px solid #ddd;
}
.blue {
    color: dodgerblue;
}
.gray {
    color: #888;
}