#accountinfo {
	float: left;
	display: block;
	width: 49%;
    border-right: 1px solid #fff;
}
#personinfo {
	float: left;
	display: block;
	width: 49%;
    padding-left: 5px;
}
label {
	display: block;
	width: 80px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	margin-left: 10px;
	float: left;
}
input {
	display: block;
	width: 200px;
	font-size: 16px;
	margin: 25px auto;
	border-radius: 5px;
	padding: 5px;
}
table input {
	margin: 12.5px auto;
}
#modifypassword {
    border-top: 1px dotted #fff;
    width: 100%;
    text-align: center;
}
#oldpassword, #password, #confirmpass {
    width: 200px;
}
.submit {
    color: #fff;
    background-color: #2AABD2;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
}
#headicon {
    width: 100%;
    height: 80px;
}
#headicon img {
    width: 80px;
    height: 80px;
    border: 1px solid #007BFF;
    margin-left: 50px;
}
#myfile {
    display: none;
}
#modifyicon {
    position: absolute;
    top: 50px;
    right: 80px;
    color: #fff;
    background-color: #2AABD2;
    border-radius: 15px;
    width: 150px;
}
#modifyiconstatus {
    position: absolute;
    top: 110px;
    right: 85px;
}
.status {
    color: green;
    font-weight: bold;
    text-align: center;
}
#personinfoinput {
	border-top: 1px dotted #fff;
	margin-top: 10px;
}
#gender {
	float: left;
	display: inline-block;
	width: 200px;
	height: 28px;
	border-radius: 5px;
	text-align: center;
}
.gender {
	display: inline;
	width: 30px;
	margin: 5px auto;
}
#provinceId, #cityId {
    padding: 5px;
}